.container {
  overflow:  hidden;
  margin-top: 200px;
  display: "flex";
  text-align: center;
  flex-direction: column;
  align-items: center;

  .form {
    margin: 25px;

    .fields {
      margin: 25px;
      width: 90%;
    }

    .button {
      margin: 25px;
      width: 55%;  
      border-radius: 30px;
    }

    .signUp {
      margin: 25px;
      font-style: italic;
      text-decoration: underline;
      color: #2A2A2A
    }

  }
}


.modal {
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  align-items: center;
  flex-direction: column;
  //border: 2px solid #000;
  box-shadow: 24;
  padding: 10px;

  .textUp {
    opacity: 0.5; 
    font-size: 18px;
  }

  .textDown {
    opacity: 0.5; 
    font-size: 18px;
    text-decoration: underline; 
  }

  .modalFields {
    margin: 25px;
    width: 80%;
  }

  .buttonModal {
    margin-bottom: 20px;
    width: 45%;
    border-radius: 30px;
  }
  
}
