*text=auto

*.sql           linguist-language=PlpgSQL
create.sql      linguist-detectable=true

Dockerfile.*    linguist-detectable=true
Dockerfile.*    linguist-language=Dockerfile
*.yaml          linguist-detectable=true
*.yaml          linguist-language=Dockerfile

*.css           linguist-detectable=false
*.scss          linguist-detectable=false
*.sass          linguist-detectable=false
*.html          linguist-detectable=false
*.bash          linguist-detectable=false