*text=auto

*.sql           linguist-detectable=true
*.sql           linguist-language=PlpgSQL

Dockerfile.*    linguist-detectable=true
Dockerfile.*    linguist-language=Dockerfile

*.yaml          linguist-detectable=true
*.yaml          linguist-language=Dockerfile

*.bash          linguist-detectable=false
*.html          linguist-detectable=false
*.scss          linguist-detectable=false
*.sass          linguist-detectable=false
*.css           linguist-detectable=false
*.js            linguist-detectable=false
*.cjs           linguist-detectable=false
client/.eslintrc.cjs   linguist-detectable=false
