.header_log_reg {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  cursor: pointer;
  flex-direction: row;
  display: flex;
  gap: 8px;
}

.header_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  cursor: pointer;
}
